ELIABOT.data.json
db/*.json
yarn*.*
logs
.node-persist
node_modules
.build
package-lock.json


# managed by open-wa
**.data.json
**.node-persist**
# end managed by open-wa
files/images/*
files/screenshots/*

# IDE's
.idea
